<h2>Session: {{currentSession}}</h2>
{{#each session.tabs}}
<div class="entry">
	<i class="settings icon-cog"></i>
	<div class="controls">
		<i class="delete icon-trash"> <strong>delete</strong></i>
	</div>
	<h2 class="title">{{this.title}}</h2>
	<h3 class="time">{{this.formattedTime}}</h3>
	<h4 class="url"><a href="{{this.url}}">{{this.url}}</a></h4>
</div>
{{/each}}
<h2 id="timeElapsed">Time Elapsed: {{session.formattedTimeElapsed}}</h2>